{% if page.header %}
<header class="header">
{{ page.header }}
</header>
{% endif %}
{% if page.highlighted %}
{{ page.highlighted }}
{% endif %}
{% if page.content or page.sidebar_first or page.top_first %}
<main class="main">
{% if page.sidebar_first %}
{{ page.sidebar_first }}
{% endif %}
{% if page.top_first %}
<section id="section-top-first">
{{ page.top_first }}
</section>
{% endif %}
{{ page.content }}
</main>
{% endif %}
{% if page.footer %}
<footer class="footer">
{{ page.footer }}
</footer>
{% endif %}